*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
.headingPart{
    width: 100%;
    height: 100vh;
    background-image: url("../images/backgroundImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.innerContainer{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,23,149,0.6) 0%, rgba(0,23,149,0.6)  25% , rgba(0,23,149,0.6) 50%,rgba(0,23,149,0.6) 75%,rgba(243, 245, 39, 0.2) 100%);
    display: flex;
    align-items: center;
}
.row span{
    font-family: "Sarabun";
}
.row .line{
    background-color: white;
}
.row h1{
    font-family: "Sarabun";
    font-size: 5rem;
    color: white;
    transition: 2s ease;
}


.row div{
    border: none;
}
.row .button{
    background-color: white;
    color: #6E85B7;
    padding: 15px 10px 15px 10px;
    width: 15%;
    border: solid 1px white;
    font-size: 1rem;
    text-align: center;
    margin-top: 2%;
    float: left;
    transition: 1s ease;
}

.row a{
    margin-left: 3%;
    position: absolute;
    top: 27%;
    width: 55px;
    height: 55px;
    background-color: transparent   ;
    border-radius: 50% ;
    border: solid 1px white;
    color: white;
    text-align: center;
    transition: 1s ease;
}
.row a div{
    margin-top: 25%;
}
.row div .button:hover{

    color: black;
    animation: animate 2s ease;
}
@keyframes animate {
    0%{
        background-color: #C4D7E0;
    }
    50%{
        background-color: #6e85b7;
    }
    100%{
        background-image: linear-gradient(to right,#F8F9D7,#6E85B7); 
    }
}



/* ------- Jumbo Section -----------*/
.jumbo{
    background-color:white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.jumbo .row{
    min-height: 100vh;
    
}
.jumbo .row img:nth-child(1){
    height: 90%;
    width: 95%;
}
.jumbo .row img:nth-child(2){
    position: absolute;
    top: 0px;
    width: 400px;
    height: 230px;
    left:0px;
    border: 15px solid white;
}
.jumbo .row img:nth-child(3){
    position: absolute;
    top: 0px;
    right:35px;
    width: 365px;
    height: 230px;
    border: 15px solid white;
}   

.jumbo .row h2{
    font-size: 8vh;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 10px;
    font-family: "Sarabun";
    color: darkblue;
    transition: 4s ease;
}
.jumbo .row p{
    font-size: small;
    color: #64676c;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;

}
.jumbo .row ul{
    font-size: small;
    color: #64676c;
    padding-left: 62px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;
}
.text div{
    padding-left: 50px;
    padding-right: 10px;
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    float: left;

}
#bold{
    padding-left: 10px;
    color: black;
    font-weight:bold;
}
#bold2{
    position:absolute;
    left: 470%;
    bottom: 6px;
}
#light{
    font-size: small;
    
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 35px;
}
#light a{
    color:#64676c;
    font-size: small;
    text-decoration:none;   
    border: none; 
}
#light2{
    font-size: small;
    width: 250px;
    position: absolute;
    left: 335%;
    bottom: -10px;
    color: #64676c;
    font-weight: bold;
}
#icons{
    width: 30px;
    height: 30px;
} 
#icons2{
    width: 30px;
    height: 30px;
    position: absolute;
    left:400%;
    bottom: 2px;
}

#anotherButton{
    background-color: #6E85B7;
    width: 35%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 9%;
    border: solid 1px white;
    margin-top: 15px;
}
#anotherButton:hover button{
    color: black;
    animation: animate 2s ease;
}

@keyframes animate2 {
    0%{
        background-color: #C4D7E0;
    }
    50%{
        background-color: #6e85b7;
    }
    100%{
        background-image: linear-gradient(to right,#F8F9D7,#6E85B7); 
    }
}
#anotherButton button{
    background:transparent;
    color: white;
    width: 100%;
    height: 100%;
    border: solid 1px white;
    letter-spacing: 1px;
}


/* -------- Events Section -----------*/
.events{
    min-height: 220vh;
    width: 100%;
    background-image: linear-gradient(to right,#330066,#B2C8DF);
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
}

.events .row h2{
    color: white;
    font-family: "Sarabun";
    font-size: 8vh;
    height: 100px;
}
.events .row p{
    color: white;
    font-size: medium;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
}




/* Tabs Section */
.table{
    width: 100%;
    height: 500px;
    padding-top: 5%;
}
.mytabs{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
}
.mytabs input[type="radio"]{
    display: none;       
}

.mytabs label{
    padding: 2.5%;
    padding-right: 7.1%;
    padding-left: 7.1%;
    margin-bottom: 0px;
    font-family: "Sarabun";
    background-color: #6E85B7;
    color: white;
    
}
.mytabs .tab{
    order: 1;
    display: none;
    padding-top: 5%;
}
.mytabs img{
    margin-top: 5%;
    margin-bottom: 2%;
    border: solid 6px white;
}
.mytabs .tab h2{

    font-size: 3em;
    font-family: "Sarabun";
    color: white;
    letter-spacing: 1px;

}
.mytabs input[type="radio"]:checked + label + .tab{ /* It Basically says if an input radio button is checked then we'll look for the next label right under or beneath the radio buttnon which is checked*/
    display: block;
}
.mytabs input[type="radio"]:checked + label{
    background-color: white;
    color: #6E85B7;
}
.events .paraText,ul{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: small;
}








/* ---- Media Queries ------*/
@media (max-width:900px) {
   .row .button{
        width: 35%;
        margin-top: 5%;
   }
   .row a{
    margin-left: 7%;
   }
   .jumbo .row img:nth-child(3){
    display: none;
   }
   .jumbo .row img:nth-child(2){
    display: none;
   }
   .jumbo .row img:nth-child(1){
    padding-left: 18px;
    margin-top: 25%;
   }
   .jumbo .row h2{
    font-size: 35px;
   }
   .jumbo .row p{
    padding-left: 18px;
    padding-right: 18px;
   }
   .jumbo .row ul{
    padding-left: 30px;
    padding-right: 18px;
   }
   .text div{
    padding-left: 10px;
    bottom: 20px;
    }
   #icons{
    width: 50px;
    height: 30px;
   } 
   #light{
    left: 12px;
   }
   #icons2{
    left: 800%;
    width: 2.5rem;
   }
   #bold{
    position: absolute;
    top: 9px;
    left: 60px;
   }
   #bold2{
    bottom: 10px;
    left: 1050%;
   }
   #light2{
    left: 750%;
   }
   #anotherButton{
    margin-top: 15px;
    width: 15rem;
   }
   .events .row h2{
    font-size: 35px;
   }
   .events .row p{
    font-size: small;
    padding-left: 60px;
    padding-right: 60px;
   }

    .mytabs label{
        padding-left: 2%;
        padding-right: 2%;
    }
    .events .paraText,ul{
        padding-left: 0px;
        padding-right: 0px;
    }
    .events{
        min-height: 230vh;
    }
}  

/* Importing Fonts */
@font-face {
    font-family: "Sarabun";
    src: url(../fonts/Sarabun-Bold.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
}